{{- /*gotype: pillowww/titw/internal/email/mailer.ResetPassword*/ -}}
{{define "content"}}
    <h1>Reset della Password</h1>
    <p>Gentile cliente,</p>

    <p>Hai richiesto il reset della tua password per il tuo account.</p>

    <p>Fare clic sul seguente link per reimpostare la tua password:</p>

    <p><a href="{{.Url}}">Reimposta Password</a></p>

    <p>Se non hai richiesto il reset della password o non ti ricordi di averlo fatto, puoi ignorare questa email.</p>

    <p>Grazie!</p>
{{end}}