{{- /*gotype: pillowww/titw/internal/email/mailer.ResetPassword*/ -}}
{{define "content"}}
    <p>Gentile cliente, <p>

    <p>
        Per procedere con il reset della password clicca questo <a href="{{.Url}}"> link </a>
    </p>

    <a>
        Grazie, Buon lavoro
    </a>
{{end}}